#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

button {
  margin: 0.5em 0;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  min-width: 75vw;
}

.user-grid--card {
  background-color: #4c4c4c;
  border-radius: 8px;
  padding: 0.5em;
  justify-items: center;
}

.user-grid--card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.user-grid--card p {
  margin: 0.2em; /* Espacement entre les paragraphes */
  text-align: center;
}

.user-grid--card button {
  margin-top: 1rem;
}

.user-name {
  font-weight: bold;
  text-transform: uppercase;
}